[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
django-rest-swagger = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
